.green {
    color: #00ab6b;
}

footer {
    border-top: 1px solid #eee;
    padding-top: 50px;
}

.banner {
    height: 400px;
    background-image: url("assets/banner2.jpg");
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

.banner > p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    width: 350px;
    margin-top: 10px;
}

.feature-divider{
    margin: 80px 0;
}

.signup-wrapper {
    padding: 40px 0;
}
.signup-wrapper form {
    width: 60%;
    margin: 30px auto;
}

.signup-wrapper .submit, .login-wrapper .submit {
    width: 100%;
}

.login-wrapper {
    width: 25%;
    padding: 50px 0;
}

/*overwrite bootstrap css*/
.navbar-default .navbar-brand {
    color: #00ab6b;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px #e7e7e7 solid;
    margin-bottom: 0;
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:visited, 
.btn-primary:active:hover {
    background-color: #00ab6b;
    border-color: #00ab6b;
}

.btn-primary:hover {
    opacity: 0.9;
}

a,
a:hover {
    color: #00ab6b;
}