<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand green" href="#">fredutor</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Tutors</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>

  <section class="banner">
    <div class="slogan">
      <p>Choose the best tutors</p>
      <p>who help you achieve more in the future</p>
      <button class="btn btn-danger btn-lg">RECEIVE FREE CONSULTANCY</button>
    </div>
  </section>

  <section class="introduction container">
    <div class="row">
      <article class="col-md-4">
        <h3 class="header">Why choose fredutor?</h3>
        <p>
          To be honest, We have hand-picked tutors which are world class tutors for you. Moreover, we decrease cost of learning as
          much as possible. You choose us. That means you choose <b>the cheapest and most effective</b> for your education.
        </p>         
      </article>
      <article class="col-md-4">
        <h3 class="header">How we do?</h3>
        <p>
          Nowadays, as you know more, you can achieve more. Please follow fredutor this is best
          way to find tutors and save cost.
          With this system, we provide <b>seamless connection between tutors and students</b> around the world. We commit to bring dramatic hours learning for all students.
        </p>
      </article>
      <article class="col-md-4">
        <h3 class="header">Who we are?</h3>
        <p>
          We are predutor. We hope we can bring magnificent courses for our students.
          Join with us. And get great hours learning. Education is your life in miniature. 
         </p>
         <p><b>Enjoy your life with fredutor.</b></p>
      </article>
    </div>
  </section>
  <hr class="feature-divider" />

  <section class="services container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="">More cheaper than you imagine. <span class="text-muted">We pay attention the cost.</span></h2>
        <p> </p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/feature2.jpg">
      </div>
    </div>
    <hr class="feature-divider" />
    <div class="row">
      <div class="col-md-5">
        <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/feature3.jpg">
      </div>
      <div class="col-md-7">
        <h2 class="">World class tutors. <span class="text-muted">We have enormous great tutors.</span></h2>
        <p class="">

        </p>
      </div>
    </div>
  </section>

</main>
<footer class="container">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>© 2017 fredutor, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>