<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand green" href="#">fredutor</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Tutors</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>

  <section class="banner">
    <div class="slogan">
      <p>Choose the best tutor</p>
      <p> who helps you achieve more in future</p>
      <button class="btn btn-danger btn-lg">RECEIVE FREE CONSULTANCY</button>
    </div>
  </section>

  <section class="introduction container">
    <div class="row">
      <article class="col-md-4">
        <h3 class="header">Why choose fredutor?</h3>
        <p>
          An incident happens on a road in Illinois, USA. One car is going slowly. It moves towards oncoming traffic. Another driver
          sees this. He knows that something is wrong. The other driver is having a seizure. He wants to help the driver.
          He jumps into his car through an open window. He saves him. The driver later goes to hospital. Difficult words:
          oncoming (moving towards you), seizure (when you are very sick and you can lose control of your body).</p>
      </article>
      <article class="col-md-4">
        <h3 class="header">How we do?</h3>
        <p>
          An incident happens on a road in Illinois, USA. One car is going slowly. It moves towards oncoming traffic. Another driver
          sees this. He knows that something is wrong. The other driver is having a seizure. He wants to help the driver.
          He jumps into his car through an open window. He saves him. The driver later goes to hospital. Difficult words:
          oncoming (moving towards you), seizure (when you are very sick and you can lose control of your body).</p>
      </article>
      <article class="col-md-4">
        <h3 class="header">Who we are?</h3>
        <p>
          An incident happens on a road in Illinois, USA. One car is going slowly. It moves towards oncoming traffic. Another driver
          sees this. He knows that something is wrong. The other driver is having a seizure. He wants to help the driver.
          He jumps into his car through an open window. He saves him. The driver later goes to hospital. Difficult words:
          oncoming (moving towards you), seizure (when you are very sick and you can lose control of your body).</p>
      </article>
    </div>
  </section>
  <hr class="feature-divider" />

  <section class="services container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/feature2.jpg">
      </div>
    </div>
    <hr class="feature-divider" />
    <div class="row">
      <div class="col-md-5">
        <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/feature3.jpg">
      </div>
      <div class="col-md-7">
        <h2 class="">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </section>

</main>
<footer class="container">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>© 2017 fredutor, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>